node_modules
.DS_Store
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
components.d.ts
.eslintrc-auto-import.json
auto-import.d.ts

distdev.tar.gz
distpre.tar.gz
dist.tar.gz
.vscode