$font-size-xl: 22px;
$font-size-large: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-mini: 12px;

$bg-color: #1989fa;

$select-color: #1B65B9;

$border-split-color: #f5f5f5;

$font-color-333: #333333;
$font-color-666: #666666;
$font-color-888: #888888;
$font-color-999: #999999;

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}